{% extends 'base.html' %}

{% block head %}
  <title> Rollladensteuerung </title>
{% endblock %}


{% block body %}
  <h1> Steuerung der Rollläden </h1>
  <table>
    <tr>
      <th> ID </th>
      <th> Name </th>
      <th> Status </th>

      <th> Commands </th>
    </tr>

    {% for a in ards %}
    <tr>
      <td>
        {{ a.ID}}
      </td>
      <td>
        {{ a.NAME}}
      </td>
      <td>
        {{ a.closed }} %
      </td>
      <td>
        <a href="/open/{{ a.ID }}">OPEN</a> <br>
        <a href="/close/{{ a.ID }}">CLOSE</a> <br>
        <form action = "/set/{{ a.ID }}">
          <input type="text" id = "p" name = "p"> %
          <input type= "submit" value= "SET"
      </td>

    </tr>
    {% endfor %}


  </table>
{% endblock %}
